<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sena de picgoteo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
       	<link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>

<body>

    <div class="sticky-top" th:fragment="header">
        <div style="background-color: rgb(54, 16, 36);">                 <!--div header-nav--->
			<header class="p-3 mb-2  w-100 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 100px;">
				<!--HEADER--->
				<h1 class="mt-3 m-5 float-left text-danger"
					style="font-family: 'Apple Chancery'; font-family:cursive;">
					CENA DE PICOTEO
				</h1>

			</header>
			<nav id="navbar" class="navbar navbar-inverse w-100" style="max-height: 60px; background-color: rgb(54, 6, 36);">
				<div class="nav justify-content-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="navbar-header col-lg-2 col-md-2 col-sm-2 col-xs-2" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER')">
						<a class="navbar-brand "  th:href="@{'/empleado/listaEmpleados'}">Empleados</a>
					</div>
					<ul class="nav navbar-nav d-inline-block col-lg-5 col-md-5 col-sm-5 col-xs-5">
						<li class="mr-5"><a href="/Plato/menu">     Menú     </a></li>
						<li class="mr-5 dropdown"><a data-toggle="dropdown" href="#">Menú por Categoria <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/Plato/1">Desayuno</a></li>
								<li><a href="/Plato/2">Entrantes</a></li>
								<li><a href="/Plato/3">Sopas</a></li>
								<li><a href="/Plato/4">Carne</a></li>
								<li><a href="/Plato/5">Pescado</a></li>
								<li><a href="/Plato/6">Arroces</a></li>
								<li><a href="/Plato/7">Postres</a></li>
								<li><a href="/Plato/8">Refrescos</a></li>
								<li><a href="/Plato/9">Bebidas calientes</a></li>
								<li><a href="/Plato/10">Vinos</a></li>
							</ul></li>
						<li sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER')" class=""><a th:href="@{'/Almacen/almacen'}"> Almacen </a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right d-inline col-lg-3 col-md-3 col-sm-3 col-xs-3">
						<li sec:authorize="isAuthenticated()" class="ml-1 float-right"><a href="/logout"><span class="glyphicon glyphicon-log-in"></span>
								Log out</a></li>
						<li sec:authorize="!isAuthenticated()" class=" float-right"><a href="/login"><span class="glyphicon glyphicon-user"></span>
								Login</a></li>
						<li sec:authorize="isAuthenticated()" class=" float-right"><a href="/index"><span sec:authentication="name" class="glyphicon glyphicon-user" ></span>
								</a></li>
					</ul>
				</div>
			</nav>




		</div>              <!--/NAV--->
    <br>
    </div>               <!--/div header-nav--->


<div th:fragment="footer" id = "footer" class="" >
<br>

	<footer id = "footer" >
        <!--FOOTER--->
        <p class="text-danger text-center p-3 mt-3 w-100">"¡Que aproveche!"</p>
    </footer>
    <!--/FOOTER--->
</div>



 
</body>

</html>