<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<div th:replace="fragments/header :: head">...</div>
<link rel="stylesheet" th:href="@{/css/estilos2.css}">

<body>

    <div th:replace="fragments/header :: header">...</div>


    <div style="display:grid;" class="w-100">
        <div class="container py-4 col-xl-7 col-lg-7 col-md-9 col-sm-9 col-xs-7 mt-5">
            <div class="card  bg-light">
                <div class="card-header" th:text="${titulo}"></div>
                <div class="card-body">
                <!-- este class adapta el tamaño de la imagen -->
                <img class="img-thumbnail rounded float-left" 
	                style="max-width:25%;" th:src="@{'/uploads/' + ${receta.imagen}}" 
	                th:alt="${receta.imagen}"/>
                   
                    <ul class="list-group">
                        <li class="list-group-item" th:text="${receta.nombre}"></li>
                        <li class="list-group-item" th:text="${receta.descripcion}"></li>
                        <li class="list-group-item" th:text="@{'Nivel de dificultad: ' + ${receta.plato.dificultad}}"></li>
                        <li class="list-group-item" th:text="${ingredientes}"></li>
                        
                    </ul>
                    <br>
    				<a th:href="@{'/Receta/verReceta/' + ${receta.idReceta} + '/comprobar'}" class="btn btn-primary"> Comprobar Almacen</a>
    				<a th:if="${not ok.isEmpty()}" th:href="@{'/Receta/verReceta/' + ${receta.idReceta} + '/realizar'}" class="btn btn-primary"> Realizar Receta</a>
    				<a th:href="@{'/Plato/menu'}" class="btn btn-primary"> Volver al menu </a>
    				<div class="float-right" th:text=${comprobar}></div>
        	  </div>
        </div>

   		 </div>
   	</div>

<div th:replace="fragments/header :: footer">...</div>


</body>

</html>